#pane1{
    -fx-background-image: url("img/background/saboteur2.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 550 398;
    -fx-background-position: center center;
}

#pane2{
    -fx-background-color: GRAY;
}

#pane3{
    -fx-background-color: IVORY;
}

#pane4{
    -fx-background-color: LIGHTGRAY;
}

